.max-container {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 4rem 2rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 2rem;
}

.list-products {
  margin: 2rem 4rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.img {
  width: 20rem;
  height: 20rem;
}

.product-name {
  font-size: 2rem;
  color: var(--dark-blue);
  width: 80%;
}

.product-price {
  font-size: 2rem;
  color: var(--light-orange);
}

.product-paymethod {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.search-container {
  @extend .row;
  float: right;
  margin-left: 3rem;
  margin-top: 3rem;
}


.button {
  background-color: var(--dark-blue);
  border-radius: 10%;
  border-width: 0;
  cursor: pointer;
}


.input {
  outline: none;
  font-size: 1.8rem;
}

.search-icon {
  font-size: 1.8rem;
  color: var(--white);
}

