<div class="container">
  <section class="about-us">
    <p class="title">Sobre nós</p>
    <p class="about-us-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui a odit
      cumque! Non, dicta? Distinctio accusantium ad odio minima repellat aliquid
      quibusdam possimus porro, voluptates autem veniam quo ducimus corporis?
    </p>
  </section>
  <section class="contacts">
    <ul class="list">
      <p class="title">Contatos</p>
      <li class="contact-items">
        <i class="icon iconify" data-icon="material-symbols:mail-outline"></i
        >email@email.com
      </li>
      <li class="contact-items">
        <i class="icon iconify" data-icon="ph:phone-call-bold"></i
        >(99)99999-9999
      </li>
      <li class="contact-items">
        <i class="icon iconify" data-icon="ic:sharp-whatsapp"></i>(99)99999-9999
      </li>
    </ul>
  </section>
</div>
