.container {
  display: flex;
  flex-direction: row;
  padding: 0 3rem;
  justify-content: space-evenly;
}

.about-us, .contacts{
  width: 35%;
}

.title {
  color: var(--dark-blue);
  font-size: 4rem;
  text-align: left
}

.about-us-text {
  @extend .title;
  font-size: 2rem;
}

.list {
  align-items: baseline
}

.contact-items {
  @extend .title;
  list-style-type: none;
  font-size: 2rem;
  // padding: 0.5rem 0
}

.icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
