.container {
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.icon {
  font-size: 20rem;
  display: block;
  margin: 0 auto;

}
.text {
  font-size: 6rem;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
