.row {
  display: flex;
  flex-direction: row;
}


.menu-items {
  color: var(--dark-blue);
  cursor: pointer;
  margin: 0 4rem;
  font-size: 3rem;
  list-style-type: none;
  z-index: 1;

  :hover {
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
  }
}

.icon {
  font-size: 1.9rem;
  margin-top: 0.3rem;
  color: var(--dark-blue);
}

.search-icon {
  @extend .icon;
  color: var(--white);
}

.badge {
  padding: 0 5px;
  font-size: 1.5rem;
  top: -1.6rem;
  right: 0.5rem;
  position: relative;
  color: var(--green);
  background-color: var(--blue);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  z-index: 5;
}

.search-container {
  @extend .row;
  float: right;
  margin-right: 3rem;
}


.button {
  background-color: var(--dark-blue);
  border-radius: 10%;
  border-width: 0;
  cursor: pointer;

  :hover{
    transform: scale(1.2);
    transition: all 200ms ease-in-out;
  }
}


.input {
  outline: none;
}

