<div>
  <ul class="row">
    <li class="menu-items" (click)="this.router.navigate([''])">
      <p>Produtos</p>
    </li>
    <li class="menu-items" (click)="this.router.navigate(['cart'])">
      <p>
        Carrinho
        <i class="iconify icon" data-icon="carbon:shopping-cart"></i
        ><span
          [ngClass]="this.cartService.BuyList.length >= 1 ? 'badge' : ''"
          >{{
            this.cartService.BuyList.length >= 1
              ? this.cartService.BuyList.length
              : ""
          }}</span
        >
      </p>
    </li>
    <li class="menu-items">
      <p>Contatos</p>
    </li>
    <li class="menu-items">
      <p>Categorias</p>
    </li>
  </ul>
  <div class="search-container">
    <input
      type="text"
      class="input"
      [(ngModel)]="search"
      placeholder="Pesquisar produto"
    />
    <div>
      <button class="button">
        <i class="iconify search-icon" data-icon="ic:twotone-search"></i>
      </button>
    </div>
  </div>
</div>
